.plan-information {
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.plan-information:hover {
    background-color: #232027;
}

.aligned-div {
    display: inline-block;
    vertical-align: middle;
}

.plan-amount {
    text-align: end;
}

.plan-name {
    min-width: 25%;
}