.navbar {
  background-color: #17151a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-right: 25px;
  text-align: center;
  min-width: 20%;
}

.nav-link {
  color: #b3b3b3;
  font-weight: 400;
  text-decoration: none;
}

.nav-link:hover {
  color: #ffffff;
}